<!--<div class="contr">
    <div class="item">
        <img src="" alt="">
    
        <div class="details">
            <h4>name</h4>
            <h5 class="price">price</h5>
            <select name="num" id="num">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            
            <div>
                <br>
                <button class="btn">add to cart</button>
            </div>
            
    
        </div>
    </div>
    
    <div class="item">
        <img src="" alt="">
    
        <div class="details">
            <h4>name</h4>
            <h5 class="price">price</h5>
            <select name="num" id="num">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            
            <div>
                <br>
                <button class="btn">add to cart</button>
            </div>
            
    
        </div>
    </div>
    
    <div class="item">
        <img src="" alt="">
    
        <div class="details">
            <h4>name</h4>
            <h5 class="price">price</h5>
            <select name="num" id="num">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            
            <div>
                <br>
                <button class="btn">add to cart</button>
            </div>
            
    
        </div>
    </div>
    
    <div class="item">
        <img src="" alt="">
    
        <div class="details">
            <h4>name</h4>
            <h5 class="price">price</h5>
            <select name="num" id="num">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            
            <div>
                <br>
                <button class="btn">add to cart</button>
            </div>
            
    
        </div>
    </div>
</div>-->

<div class="body">
    <div class="row">
        <div class="col col-12 col-md-6 col-lg-3" *ngFor="let item of items">
            <div  class="card" style="width: 17rem;height: 450px;" >
                <img src="{{item.image}}" class="card-img-top" (click)="viewDetails(item)">
                <div class="card-body">
                    <p class="card-body" style="height:120px;">{{item.title }}</p>
                    <h5 class="card-text">{{item.price|currency}}</h5>
                    <button style="padding-bottom: 2px;" class="btn btn-primary" (click)="addToCart(item)">Add To Cart</button> 
                    
                </div>
              </div>
              
        </div>

    </div>
</div>


